.menu-moved{
  background-color: #505254;
}
#main{
  width: 100%;
  height: calc(100% - 99px);
  background-color: var(--main-grey);
  position: relative;
  margin-top:99px;
}
#main .module{
  height: 100%;
}
#logo{
  position: relative;
  top: calc(50% + 99px);
  transform: translateY(-100%);
  margin-left: 7%;
  cursor: default;
}
#logo ::selection {
  background: none;
}
#logo-design{
  font-size: 120px;
  color: #FFF;
  font-weight: 600;
  letter-spacing: 1.2pt;
  animation: 1s ease-out 0s 1 fadeIn;
  -webkit-animation: 1s ease-out 0s 1 fadeIn;
  -moz-animation: 1s ease-out 0s 1 fadeIn;
  -o-animation: 1s ease-out 0s 1 fadeIn;
}
#logo-signature{
  margin-top: -14px;
  font-size: 15px;
  color: var(--main-blue);
  letter-spacing: 1.4pt;
  padding-left: 4px;
  animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  -webkit-animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  -moz-animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  -o-animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
}
#expertise{
  position: relative;
  margin-top: 20px;
  font-size: 15px;
  color: var(--main-blue);
  letter-spacing: 7.5pt;
  padding-left: 4px;
  animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  -webkit-animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  -moz-animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  -o-animation: 2.5s ease-out 0s 1 slideSignatureInFromTop;
  line-height: 1.8;
}

/* MEET ME*/
.title{
  font-size: 60px;
  letter-spacing: 1.1pt;
  font-weight: 600;
  font-family: 'Bitter', serif;
  margin-bottom: 40px;
  color: var(--main-blue);
}
.content-text{
  line-height: 1.8;
}

#content-meetme{
  background-color: #FFF;
  background-image: url("../img/meetme.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  min-height: 700px;
  width: 100%;
  position: relative;
}
#content-meetme .title{
  text-align: right;
}

#content-meetme .module{
  padding-top: 90px;
  padding-bottom: 110px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffffff+21,ffffff+50,ffffff+79,7db9e8+100&0+0,0.86+21,1+50,0.86+78,0+100 */
  background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(255,255,255,0.86) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.86) 78%, rgba(255,255,255,0.82) 79%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.86) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.86) 78%,rgba(255,255,255,0.82) 79%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.86) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.86) 78%,rgba(255,255,255,0.82) 79%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
#content-meetme .content-text{
  text-align: right;
}

#text-meetme #bio-line1{
  font-weight: 600;
  font-size: 24px;
}

#personality{
  margin-top: 95px;
  text-align: center;
}
.quote{
  margin-top: 160px;
  text-align: center;
  font-size: 34px;
  font-family: 'Noticia+Text', serif;
  font-style: italic;
}
.quoted-name{
  margin-top: 15px;
  text-align: center;
  font-size: 18px;
  color: #929292;
}
.trait{
  width: 24.9%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 0px 2.5% 0px 2.5%;
  line-height: 1.8;
}
.trait-title{
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: var(--main-blue);
}
.trait-image{
  background-position: center;
  background-repeat:no-repeat;
  height: 150px;
  margin-bottom: 50px;
}
#trait1 .trait-image{
  background-image: url("../img/creative-thinking.png");
}
#trait2 .trait-image{
  background-image: url("../img/kd-thirst.png");
}
#trait3 .trait-image{
  background-image: url("../img/seek-structure.png");
}

#lg-languages{
  margin-top: 120px;
  text-align: center;
}
.lg-spoken{
  width: 19.9%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.lg-level{
  width: 150px;
  height: 150px;
  margin:auto;
}
.lg-flag{
  background-image:url("../img/pt.png");
  height: 40px;
  width: 54px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 54px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.lg-title{
  color:var(--main-blue);
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  width:100%;
  margin: 15px auto;
}
#coding{
  margin-top: 120px;
  width: 100%;
}
#coding-snippet{
  background-color: #f7f6f5 ;
  width: calc(100% - 60px);
  padding: 20px 30px 20px 30px;
  font-family: 'Inconsolata', monospace;
  border-radius: 6px;
  letter-spacing: 1.1pt;
}
#coding-languages{
  margin: 40px auto;
  text-align: center;
}
.coding-language{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 23%;
}
.coding-language-element-ID{
  font-size: 13px;
  color: var(--main-blue);
  margin-bottom: 20px;
  text-align: center;
}
.coding-language-title{
  font-family: "Bitter",serif;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1.5pt;
  cursor:default;
}
.coding-language-title:hover{
  animation: 2s ease-in-out 0s infinite bumpUp;
  -webkit-animation: 2s ease-in-out 0s infinite bumpUp;
  -moz-animation: 2s ease-in-out 0s infinite bumpUp;
  -o-animation: 2s ease-in-out 0s infinite bumpUp;
}

/* BACKGROUND*/
#content-background{
  background-color: #FFF;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: right 0px;
  min-height: 700px;
  background-color: #FFF;
  width: 100%;
  position: relative;
}
#content-background .title{
  text-align: left;
}

#content-background .module{
  padding-top: 70px;
  padding-bottom: 140px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffffff+21,ffffff+50,ffffff+79,7db9e8+100&0+0,0.86+21,1+50,0.86+78,0+100 */
  background: -moz-linear-gradient(right,  rgba(30,87,153,0) 0%, rgba(255,255,255,0.86) 30%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.86) 78%, rgba(255,255,255,0.82) 79%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(right,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.86) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.86) 78%,rgba(255,255,255,0.82) 79%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.86) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,0.86) 78%,rgba(255,255,255,0.82) 79%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}
#content-background .content-text{
  text-align: left;
}

.select-bg-featured{
  margin: 120px auto 20px auto;
  text-align: center;
  position: relative;
}
.bg-featured-category-button{
  outline: none;
  letter-spacing: 1.6pt;
  cursor:pointer;
  margin: 0px 10px 0px 10px;
}
.bg-featured-category-button-select{
  background-color: var(--main-blue);
  border: none;
  padding: 10px 20px 10px 20px;
  color: #FFF;
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}
.bg-featured-category-button-noselect{
  background-color: white;
  border: 1px solid  var(--main-blue);
  padding: 9px 19px 9px 19px;
  color:  var(--main-blue);
  -webkit-transition: background-color 600ms linear;
  -ms-transition: background-color 600ms linear;
  transition: background-color 600ms linear;
}
.bg-featured-category-button-noselect:hover{
  border: 2px solid  var(--main-blue) !important;
  padding: 8px 18px 8px 18px !important;
}
.bg-featured-category-button-noselect:active{
  background-color: var(--main-blue) !important;
  border: none !important;
  padding: 10px 20px 10px 20px !important;
  color: #FFF !important;
}
#select-courses.bg-featured-category-button-select{
  background-color: #ec757c !important;
}
#select-courses.bg-featured-category-button-noselect{
  border: 1px solid #ec757c !important;
  color:  #ec757c !important;
}
#select-courses.bg-featured-category-button-noselect:hover{
  border: 2px solid  #ec757c !important;
}
#select-courses.bg-featured-category-button-noselect:active{
  background-color: #ec757c !important;
  border: none !important;
}
.current-bg-featured{
  display:inline-block;
  vertical-align: middle;
  width: 60%;
}
.bg-featured{
  padding-top: 90px;
  text-align: center;
  border-top: 1px solid var(--main-blue);
}
.bg-featured-title{
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 30px;
  font-family: 'Bitter', serif;
  color: var(--main-blue);
}
.bg-featured-date{
  font-weight: 600;
}
.bg-featured-text{
  font-size: 20px;
  margin: 40px auto;
  line-height: 1.8;
  position:relative;
  top: 0;
  min-height: 200px;
}
.bg-arrow-button{
  outline: none;
  border: solid 1px var(--main-blue);
  font-size: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: var(--main-blue);
  cursor:pointer;
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.bg-arrow-button:hover{
  border: solid 2px var(--main-blue);
}
.bg-arrow-button:active{
  background-color: var(--main-blue);
  color: #FFF;
}
.previous-feature{
  float:left;
  padding-right: 10px;
}
.next-feature{
  float:right;
  padding-left: 10px;
}
