@media screen and (min-width:1301px) and (max-width: 1900px){
  #content-meetme .module{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffffff+51,ffffff+99&0+0,0.92+51,1+98 */
  background: -moz-linear-gradient(left,  rgba(30,87,153,0) 0%, rgba(255,255,255,0.92) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 99%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.92) 51%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.92) 51%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=1 ) !important; /* IE6-9 */
  }
  #content-background .module{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,ffffff+51,ffffff+99&0+0,0.92+51,1+98 */
  background: -moz-linear-gradient(right,  rgba(30,87,153,0) 0%, rgba(255,255,255,0.92) 51%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 99%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(right,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.92) 51%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to left,  rgba(30,87,153,0) 0%,rgba(255,255,255,0.92) 51%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#ffffff',GradientType=1 ) !important; /* IE6-9 */
  }
}
@media screen and (max-width:1300px){
  #content-meetme .title, #content-background .title{
    text-align: center !important;
  }
  #content-meetme .content-text, #content-background .content-text{
    text-align: center !important;
  }
  #content-meetme .module, #content-background .module{
     background-color: rgba(255,255,255,0.9) !important;
     background-image: none !important;
  }
  .lateral-link{
    right:0;
    animation: 1s ease-out 0s 1 slideInFromRight;
    -webkit-animation: 1s ease-out 0s 1 slideInFromRight;
    -moz-animation: 1s ease-out 0s 1 slideInFromRight;
    -o-animation: 1s ease-out 0s 1 slideInFromRight;
  }
}

@media screen and (max-width:760px){
  .quote{
    margin-top: 130px !important;
  }
  .personality{
    margin-top: 160px !important;
  }
  .trait{
    width: 100% !important;
    margin-bottom: 80px !important;
  }
  #expertise{
    letter-spacing: 4.5px;
  }
}
@media screen and (max-width: 536px){
  #expertise{
    letter-spacing: 1.5px;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 1100px){
  .lg-spoken{
    width: 49% !important;
    margin-top: 40px !important;
  }
  .coding-language{
    width: 49% !important;
    margin-top: 70px !important;
  }
  #work-fullscreen{
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    top: 0;
    left: 0;
  }
  #work-desc-fullscreen {
    width: 100%;
    padding: 20px 0;
  }
  #work-picture-fullscreen-container {
    height: calc(100% - 100px - 40px);
    padding: 20px 0 20px 0;
    width: 100%;
  }
}

@media screen and (max-width: 1025px){
  .work-picture{
    width: calc(47% - 2px);
    padding-top: calc(47% - 2px);
  }
}

@media screen and (max-width: 686px){
  #tags{
    margin-bottom: 5%;
  }
  .work-picture{
    width: calc(100% - 2px);
    padding-top: calc(100% - 2px);
    margin: 5% 0 5% 0;
  }
}

@media screen and (max-width: 510px){
  #logo-design{
    font-size: 102px;
  }
}
@media screen and (max-width: 434px){
  #logo-design{
    font-size: 25vw;
  }
  #logo-signature{
    letter-spacing: 1.0px;
    font-size: 4vw;
  }
  #myportfolio{
    font-size: 12vw;
  }
}
@media screen and (max-width: 600px){
  .lateral-link{
    display:none;
  }
  #logo-design{
    letter-spacing: -3px;
    font-weight: 700;
  }
  .title{
    letter-spacing: -1px;
    font-size: 13vw;
    font-weight: 800;
  }
  #lg-languages{
    margin-top: 0px;
  }
  .lg-spoken{
    width: 100% !important;
    margin-top: 40px !important;
  }
  .coding-language{
    width: 100% !important;
    margin-top: 70px !important;
  }
  .current-bg-featured{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    top: 25px;
  }
  .previous-feature:hover{
    background-image: url("../img/arrow-left-whitebackground.png");
  }
  .next-feature:hover{
    background-image: url("../img/arrow-right-whitebackground.png");
  }
  .next-feature{
    float: left;
  }
  .bg-arrow-button{
    margin-left: 20px;
  }
  #menu-meetme, #menu-background, #home{
    display: none;
  }
  .menu-content, .menu-base{
    height: 67px;
  }
  .menu-item{
    padding: 25px 0 24px 0;
  }
  .menu-moved .menu-item:hover {
    padding-bottom: 22px !important;
    border-bottom: 2px var(--main-blue) solid;
}
  #logo{
    top: calc(50% + 67px);
  }
  #tags{
    top: 67px;
  }
  #content-meetme .title, #content-background .title{
    text-align: left !important;
  }
  #content-meetme .content-text, #content-background .content-text{
    text-align: left !important;
  }
  #coding-languages{
    margin-top: 0px;
  }
  .coding-language-element-ID{
    margin-bottom: 3px;
  }
  .coding-language-title{
    letter-spacing: 0px;
  }
  .current-bg-featured{
    text-align: left;
  }
  #content-meetme .module, #content-background .module{
    padding-left: 9%;
    padding-right: 9%;
  }
  .bg-featured-category-button{
    margin-left: 1%;
    margin-right: 1%;
  }
  #select-professional::after{
    content: "PRO";
  }
  #select-academic::after{
    content: "ACADEMIC";
  }
  #select-courses::after{
    content: "+";
  }
}

@media screen and (max-width: 370px){
  .bg-featured-category-button{
    margin-left:0px;
    margin-right:0px;
  }
}

@media screen and (max-width: 850px){
  .tag, #filterby{
    display: none;
  }
  #select-tags{
    display: block;
  }
}
